/* Portfolio header in App.js */
.h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    
}

/* Footer class */
.columns{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    
}

/* Content class component  */
.content{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}



/* About-page class component for profile image */
.img{
    width: 20%;
    height: 20%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px 10px 10px 10px;

}

.button{
    color: white;
}