/* Portfolio header in App.js */
.h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    
}

/* Footer class */
.columns{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    
}

/* Content class component  */
.content{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 40px;
}



/* About-page class component for profile image */
.img{
    width: 350px;
    height: 350px;
    margin: auto;
    display: block;
    background-size: 80%;
    background-position: center;
    border-radius: 10px 10px;
    transition: 1s;
    

}

.img:hover{
    background-size: 100% !important;
    background-position: center;
}

.button{
    color: white;
}

/* About-Page about-me content */
.about-content{
    margin-bottom: 300px;
    margin-top: 100px;
    background-position-y: 100px;
}
/* Contact-Page message response handler */

.success-msg{
    color:#57A773;
    padding: 10px 15px;
}

.err-msg{
    color: #EE6353;
    padding: 10px 15px;
}

.form-container{
    width: 400px;
    height: 500px;
    border: 1px solid grey;
    border-radius: 5px 5px;
    margin: 0 auto;

}


.form-input{
    width: 400px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: block;
}